.idea
project/project
project/target
target
.DS_STORE
.git
.bsp
.run
.bloop
.metals
.vscode
metals.sbt
.scala-build
.ammonite/*
*.jar
*checkpoint
sink-table
*.iml
modules/docs
old-serializer-snapshot.dat
click.dat