# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        java: [11]
        scala: [2.13.16, 3.3.6]
        flink: [1.18.1, 1.19.1]
        sbt-module: ['flink-1-api']
        include:
          - scala: 3.3.6
            java: 17
            flink: 1.20.0
            sbt-module: 'flink-1-api'
          - scala: 3.3.6
            java: 17
            flink: 2.0.0          
            sbt-module: 'flink-2-api' 
    env:
      JAVA_OPTIONS: '--add-opens java.base/java.lang=ALL-UNNAMED'
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: ${{ matrix.java }}
          cache: sbt
      - name: Compile Docs
        run: JAVA_OPTS=$JAVA_OPTIONS sbt "++ ${{ matrix.scala }} docs/mdoc"
      - name: Run tests on examples
        # always running on Scala 3.x version by default
        if: ${{ !startsWith(matrix.flink, '1.18') && !startsWith(matrix.flink, '2.') }}
        run: JAVA_OPTS=$JAVA_OPTIONS sbt -DflinkVersion1=${{ matrix.flink }} "project examples; test"
      - name: Run tests on Flink API         
        run: JAVA_OPTS=$JAVA_OPTIONS sbt -DflinkVersion1=${{ matrix.flink }} -DflinkVersion2=${{ matrix.flink }} "++ ${{ matrix.scala }}; project ${{ matrix.sbt-module }}; test"